<ion-content *ngIf="company">
  <app-page-layout>
    <div layout-position="main">
      <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <app-header pathRoute="/companies">
        <ion-row header-position="main">
          <ion-col>
            <h2 class="title center">{{ company.name }}</h2>
          </ion-col>
        </ion-row>
      </app-header>
    </div>

    <div layout-position="content" class="container">
      <app-company-data [company]="company"></app-company-data>

      <h5 *ngIf="userAppointments.length === 0">{{'COMPANIES.NO_APPOINTMENTS' | translate}}</h5>

      <app-appointment-card class="width-100" *ngFor="let appointment of userAppointments" [appointment]="appointment" (deleteAppointment)="removeAppointment($event)" [role]="'user'" [section]="'company'"></app-appointment-card>

      <ion-button class="btn width-100" color="maincolor" (click)="requestAppointment()">
        {{ 'COMPANIES.REQUEST_APPOINTMENT' | translate }}
      </ion-button>
      <ion-button *ngIf="company.fistAvailableAppointment" class="btn width-100 margin-5" color='maincolor' (click)="requestFirstAvailableAppointment()">{{ 'COMPANIES.FIRST_AVAILABLE_APPOINTMENT' | translate }}: {{company.fistAvailableAppointment.start | date: 'dd/MM/yyyy  HH:mm' }}<ion-icon style="padding-left: 20px;" name="archive"></ion-icon></ion-button>

      <h5>{{company.description}}</h5>

      <ng-container *ngIf="company.assessments.length > 0">
        <h3 class="subtitle center">{{ 'COMPANIES.ASSESSMENTS' | translate }}</h3>
        <ion-row>
          <ion-col>
            <ion-icon class="filled-stars-input" name="star" *ngFor="let star of filledStars"></ion-icon>
            <ion-icon class="empty-stars-input" name="star-outline" *ngFor="let star of emptyStars"></ion-icon>
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-row *ngIf="company.pendingUserAssessment" (click)="newAssessment()">
        <ion-col>
          <ion-card class="assessment-recommendation">
            <ion-row>
              <ion-col size=10>
                {{ 'COMPANIES.SUGGEST_TO_ASSESSMENT' | translate: {name: company.name} }}
              </ion-col>
              <ion-col size=2>
                <ion-icon class="recommendation-star" name="star"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <app-assessment-card class="width-100" *ngFor="let assessment of currentUserAssesments" [assessment]="assessment" [ownAssessment]="true"></app-assessment-card>
      <h3 class="subtitle center" *ngIf="otherUsersAssessments.length > 0">{{ 'COMPANIES.OTHER_ASSESSMENTS' | translate }}</h3>
      <app-assessment-card class="width-100" *ngFor="let assessment of otherUsersAssessments" [assessment]="assessment"></app-assessment-card>
    </div>
  </app-page-layout>
</ion-content>