<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026933857436-4487op5aqu8notvlgpvqd2h9s00mpg93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026933857436-4487op5aqu8notvlgpvqd2h9s00mpg93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026933857436-1ct98ii7og0ucssc11828glq84f35rkk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKdKhLF1lCh7pP1ZQzoI2eV5u1ZYyNo7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1026933857436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tfg.micomercio.app</string>
	<key>PROJECT_ID</key>
	<string>micomercio-5a73a</string>
	<key>STORAGE_BUCKET</key>
	<string>micomercio-5a73a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026933857436:ios:1800ae10f054086e1d2159</string>
</dict>
</plist>