<div class="container" text-center>
  <ion-row style="margin-top: 10px;">
    <ion-col>
      <label class="minimum-text main-color-text">{{ 'USER.ACCOUNT_TYPE' | translate }}</label>
    </ion-col>
  </ion-row>
  <ion-row style="min-width: 100%;">
    <ion-col>
      <label class="minimum-text main-color-text">{{ 'USER.USER' | translate }}</label>
      <input name="userRole" type="radio" style="margin-left: 10px;" [(ngModel)]="userRole" [value]="'user'" [disabled]="!newUser"/>
    </ion-col>
    <ion-col>
      <label class="minimum-text main-color-text">{{ 'USER.BUSINESS' | translate }}</label>
      <input name="userRole" type="radio" style="margin-left: 10px;" [(ngModel)]="userRole" [value]="'manager'" [disabled]="!newUser"/>
    </ion-col>
  </ion-row>
</div>
<form padding [formGroup]="form" (submit)="submitUser()">
  <div class="container" text-center>
    <ion-input class="input" formControlName="email" type="text" [placeholder]="'USER.EMAIL' | translate" text-center margin-bottom></ion-input>
    <ion-input class="input" formControlName="name" type="text" [placeholder]="'USER.NAME' | translate" text-center margin-bottom></ion-input>
    <ion-input class="input" formControlName="surname" type="text" [placeholder]="'USER.SURNAME' | translate" text-center margin-bottom></ion-input>
    <ion-input class="input" formControlName="phone" type="tel" [placeholder]="'USER.PHONE' | translate" text-center margin-bottom></ion-input>
    <ion-input class="input" formControlName="password" type="password" [placeholder]="'USER.PASSWORD' | translate" text-center margin-bottom *ngIf="newUser"></ion-input>
    <ion-input class="input" formControlName="confirmPass" type="password" [placeholder]="'USER.REPEAT_PASS' | translate" text-center margin-bottom *ngIf="newUser"></ion-input>
    <span class="accept-terms" *ngIf="newUser">
      <ion-checkbox color="maincolor" slot="start" formControlName="acceptTerms"></ion-checkbox>
      <ion-label class="minimum-text main-color-text" (click)="openUseTerms()">{{ 'USE_TERMS.ACCEPT' | translate }}</ion-label>
    </span>

    <ion-text color="danger" class="bold" *ngIf="form.get('email').hasError('email') && form.get('email').touched">{{ 'LOGIN.EMAIL_ERROR' | translate }}</ion-text>
    <ion-text color="danger" class="bold" *ngIf="newUser && form.get('password').hasError('minlength') && form.get('password').touched">{{ 'LOGIN.PASS_ERROR' | translate }}</ion-text>
    <ion-text color="danger" class="bold" *ngIf="newUser && form.get('phone').hasError('pattern') && form.get('phone').touched">{{ 'LOGIN.PHONE_ERROR' | translate }}</ion-text>
    <ion-text color="danger" class="bold" *ngIf="newUser && form.hasError('notSame') && form.get('confirmPass').touched">{{ 'LOGIN.PASSWORDS_NOT_MATCH' | translate }}</ion-text>
  </div>
  <div text-center>
    <ion-button [disabled]="form.invalid" class="btn width-great" type="submit" color="maincolor">
      {{ (newUser ? 'LOGIN.CREATE_ACCOUNT' : 'USER.EDIT_PROFILE') | translate }}
    </ion-button>
  </div>
</form>