<form padding [formGroup]="form" (submit)="sendPasswordRecovery()" style="margin-top: 50px;">
  <div class="container" text-center>
    <ion-text class="main-color-text" style="margin-bottom: 20px;">{{ 'LOGIN.INSERT_EMAIL' | translate }}</ion-text>
    <ion-input class="input" formControlName="email" type="text" placeholder="Email" text-center margin-bottom></ion-input>
    <div class="alert" text-center>
        <ion-text color="danger" *ngIf="formError">{{ 'LOGIN.EMAIL_ERROR' | translate }}</ion-text>
    </div>
  </div>
  <div text-center>
      <ion-button class="btn width-great" type="submit" color="maincolor">
        {{ 'COMMON.CONFIRM' | translate }}
      </ion-button>
      <div class="container" margin-top>
          <span class="main-color-text" (click)="backToLogin() ">{{ 'LOGIN.BACK_LOGIN' | translate }}</span>
      </div>
  </div>
</form>