$mainColor: #6666FF;
$secondColor: #A9C4EB;
$greatWidth: 80%;

// COMMON
* {
  font-family: 'Arial' !important;
}

#logo {
  max-width: 40%;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.nav-bar {
  align-items: center;
  margin-bottom: 5px;

  ion-icon{
    font-size: 1.4rem;
  }
}

.main-color-text {
  color: $mainColor;
}

.second-color-text {
  color: $secondColor;
}

.width-great {
  min-width: $greatWidth;
  max-width: $greatWidth;
}

.width-100 {
  min-width: 100%;
  max-width: 100%;
}

.width-90 {
  min-width: 90%;
  max-width: 90%;
}

.title {
  color: $mainColor;
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1.3rem;
}

.minimum-text {
  font-size: 1.2rem;
}

span {
  font-size: 1.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.margin-0 {
  margin: 0px;
}

.margin-5 {
  margin: 5px !important;
}

.margin-15 {
  margin: 15px;
}

.margin-auto {
  margin: auto;
}

.btn {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 4px;
  white-space: normal;
  text-transform: inherit;

  ion-icon {
    padding: 10px;
    font-size: 2rem;
  }
}

.back-btn{
  padding: 10px;

  ion-icon{
    font-size: 1.4rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-weight: 500;
  max-width: $greatWidth;
}

.alert {
  text-align: center;
  margin-bottom: 10px;
  margin: 10px;
  display: block;
  min-width: $greatWidth;
  max-width: $greatWidth;
}

.input {
  font-size: 1.2rem;
  border: 1px solid $mainColor;
  color: $mainColor;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;

  input, textarea {
    padding-left: 10px !important;
  }
}

.card-right-icon {
  align-self: center;
  outline: none;

  button {
    background: none;
  }

  ion-icon{
    color: $mainColor;
    font-size: 22px;
  }
}

.input-select {
  margin: 10px 0 10px 0;
  border-color: $mainColor !important;
  border-width: 1px !important;
  border-style: solid !important;
}

// COMPANIES

.search-bar{
  max-width: $greatWidth;
  margin: auto;
  padding: 0;

  .searchbar-input-container{
    height: 44px;
    margin-bottom: 20px;
  }
}

.company-card {
  min-width: $greatWidth;
  max-width: $greatWidth;
  margin: auto;
  background-color: $secondColor;
  color: $mainColor;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img {
  object-fit: cover;

  width: 100%;
  height: 150px;
}

.company-img {
  object-fit: cover;

  width: 100%;
  height: 160px;
}

.day-card {
  background-color: $secondColor;
  margin: 5px; 
  color: $mainColor;
  padding: 0 15px;
}

.day-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  ion-icon{
    background: none;
    outline: none;
    color: $mainColor;
    font-size: 22px;
  }
}

.hour-card {
  background-color: $mainColor;
  color: white;
  padding: 0 8px;
  margin: 5px;
  width: 100%;
  h2{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  ion-icon{
    background: none;
    outline: none;
    color: white;
    font-size: 22px;
  }
}

.company-form-label {
  align-self: flex-start;
  margin-bottom: 4px;
}

.seal {
  position: absolute;
  right: 0;
  max-width: 4em;
}

.pending-company-card {
  min-width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgba(255, 255, 0, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

// PROFILE

.pending-card {
  min-width: $greatWidth;
  max-width: $greatWidth;
  padding: 1em;
  margin: auto;
  background-color: rgba(255, 255, 0, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification-checkboxes {
  white-space: pre-wrap !important;
  font-size: 1.2rem !important;
  color: $mainColor !important;
}

// APPOINTMENTS

.appointment-card {
  margin: auto;
  background-color: $secondColor;
  color: $mainColor;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// CALENDAR
.monthview-selected {
  background-color: $secondColor !important;
  font-weight: bold;
  font-size: 21px;
}

.monthview-primary-with-event {
  background-color: $secondColor !important;
}

.monthview-secondary-with-event {
  background-color: #a9c5eb8e !important;
}

.calendar-events-card {
  background-color: $secondColor;
  margin-bottom: 5px;
  color: $mainColor;
  padding: 0 15px;
  border: 2px solid $mainColor;
  border-left: 25px solid;
}

.eventDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mainColor;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  
  button {
    background: none;
    outline: none;

    ion-icon{
      margin-left: 5px;
      color: $mainColor;
      font-size: 30px;
      padding-top: 3px;
    }
  }
}
