$mainColor: #6666FF;
$secondColor: #A9C4EB;
$greatWidth: 80%;

// COMMON
* {
  font-family: 'Arial' !important;
}

#logo {
  max-width: 40%;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.nav-bar {
  align-items: center;
  margin-bottom: 5px;

  ion-icon{
    font-size: 1.4rem;
  }
}

.main-color-text {
  color: $mainColor;
}

.second-color-text {
  color: $secondColor;
}

.margin-0-auto {
  margin: 0 auto;
}

.width-great {
  min-width: $greatWidth;
  max-width: $greatWidth;
}

.width-100 {
  min-width: 100%;
  max-width: 100%;
}

.width-90 {
  min-width: 90%;
  max-width: 90%;
}

.title {
  color: $mainColor;
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1.3rem;
}

.minimum-text {
  font-size: 1.2rem;
}

span {
  font-size: 1.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.column {
  flex-direction: column;
}

.margin-0 {
  margin: 0px;
}

.margin-5 {
  margin: 5px !important;
}

.margin-15 {
  margin: 15px;
}

.margin-auto {
  margin: auto;
}

.btn {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 4px;
  white-space: normal;
  text-transform: inherit;

  ion-icon {
    padding: 10px;
    font-size: 2rem;
  }
}

.back-btn{
  padding: 10px;

  ion-icon{
    font-size: 1.4rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-weight: 500;
  max-width: $greatWidth;
}

.alert {
  text-align: center;
  margin-bottom: 10px;
  margin: 10px;
  display: block;
  min-width: $greatWidth;
  max-width: $greatWidth;
}

.input {
  font-size: 1.2rem;
  border: 1px solid $mainColor;
  color: $mainColor;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;

  input, textarea {
    padding-left: 10px !important;
  }
}

.card-right-icon {
  align-self: center;
  outline: none;

  button {
    background: none;
  }

  ion-icon{
    color: $mainColor;
    font-size: 22px;
  }
}

.input-select {
  margin: 10px 0 10px 0;
  border-color: $mainColor !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.bold-text {
  font-weight: bold;
}

// LOGIN

.social-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.google-icon {
  max-width: 18%;
  margin: auto;
}

// COMPANIES

.search-wrapper {
  max-width: 85%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-bar{
    width: 87%;
    color: $mainColor;
  
    .searchbar-input-container{
      height: 44px;
      .searchbar-input {
        padding-left: 43px;
        font-size: 1.3rem;
      }
      .searchbar-search-icon {
        width: 30px;
      }
      .searchbar-clear-icon {
        width: 28px;
      }
    }
  }

  .filter-button {
    width: 13%;
    font-size: 3.2rem;
    color: $mainColor;
  }
}

.company-wrapper {
  position: relative;
}

.company-card {
  min-width: $greatWidth;
  max-width: $greatWidth;
  margin: auto;
  background-color: $secondColor;
  color: $mainColor;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img {
  object-fit: cover;

  width: 100%;
  height: 150px;
}

.company-img {
  object-fit: cover;

  width: 100%;
  height: 160px;
}

.day-card {
  background-color: $secondColor;
  margin: 5px; 
  color: $mainColor;
  padding: 0 15px;
}

.day-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  ion-icon{
    background: none;
    outline: none;
    color: $mainColor;
    font-size: 22px;
  }
}

.hour-card {
  background-color: $mainColor;
  color: white;
  padding: 0 8px;
  margin: 5px;
  width: 100%;
  h2{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  ion-icon{
    background: none;
    outline: none;
    color: white;
    font-size: 22px;
  }
}

.company-form-label {
  align-self: flex-start;
  margin-bottom: 4px;
}

.seal {
  position: absolute;
  right: 0;
  max-width: 4em;
}

.promoted, .pending-validation {
  position: absolute;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1em;
  padding: 4px;
  background-color: rgba(199, 198, 195, 0.80);
}

.promoted {
  right: 10px;
  top: 115px;
}

.pending-validation {
  color: red;
  width: 100px;
  right: 10px;
  top: 10px;
}

.favorite {
  display: flex;
  align-items: center;
  z-index: 99;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 55px;
  top: 20px;
  font-size: 2em;
  color: yellow;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(199, 198, 195, 0.80);
}

.pending-company-card {
  min-width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgba(255, 255, 0, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.assessment-recommendation {
  min-width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgba(255, 255, 0, 0.5);
  color: $mainColor;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.recommendation-star {
  color: $mainColor;
  font-size: 2.2rem;
}

// FILTERS MODAL

.modal-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  padding: 30px 30px;
}

.modal-backdrop {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(199, 198, 195, 0.8);
}

.filter-radio-button {
  display: flex;
  align-items: center;
  input {
    margin-right: 10px;
    width: 20px;
    height: 1.5rem;
  }
  label {
    line-height: 1.5rem;
  }
}

.filter-select {
  margin-top: 15px;
  color: $mainColor;
  font-size: 1.2rem;
  border: solid 1px $mainColor;
  border-radius: 10px;
}

.filter-selector {
  font-size: 1.1rem;
}

.filter-selector .alert-wrapper {
  color: $secondColor;

  .alert-button-group {

    button {
      color: $mainColor;
    }
  }
}

[aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
  color: $mainColor;
}

[aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
  color: $mainColor;
}

.date-selector {
  color: $mainColor;
  font-size: 1.2rem;
  border: solid 1px $mainColor;
  border-radius: 10px;
}

.filter-card {
  display: flex;
  align-items: center;
  color: $mainColor;
  background-color: $secondColor;
  padding: 10px;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 10px;

  ion-icon {
    margin-right: 10px;
    font-size: 1.4rem;
  }
}

.favorite-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favorite-filter {
  display: flex;
  align-items: center;
  color: $mainColor;

  ion-label {
    margin-right: 20px;
  }
}

// PROFILE

.pending-card {
  min-width: $greatWidth;
  max-width: $greatWidth;
  padding: 1em;
  margin: auto;
  background-color: rgba(255, 255, 0, 0.5);
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification-checkboxes {
  white-space: pre-wrap !important;
  font-size: 1.2rem !important;
  color: $mainColor !important;
}

// APPOINTMENTS

.appointment-card {
  margin: auto;
  background-color: $secondColor;
  color: $mainColor;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// CALENDAR
.monthview-selected {
  background-color: $secondColor !important;
  font-weight: bold;
  font-size: 21px;
}

.monthview-primary-with-event {
  background-color: $secondColor !important;
}

.monthview-secondary-with-event {
  background-color: #a9c5eb8e !important;
}

.calendar-events-card {
  background-color: $secondColor;
  margin-bottom: 5px;
  color: $mainColor;
  padding: 0 15px;
  border: 2px solid $mainColor;
  border-left: 25px solid;
}

.eventDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mainColor;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  
  button {
    background: none;
    outline: none;

    ion-icon{
      margin-left: 5px;
      color: $mainColor;
      font-size: 30px;
      padding-top: 3px;
    }
  }
}

.google-calendar-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  .google-calendar-icon {
    max-width: 85%;
    margin: auto;
  }
}

// ASSESSMENTS CARDS

.filled-stars {
  color: yellow;
  font-size: 1.8rem;
}

.empty-stars {
  font-size: 1.8rem;
}

.filled-stars-input {
  color: $mainColor;
  font-size: 2rem;
}

.empty-stars-input {
  color: $mainColor;
  font-size: 2rem;
}

.assessment-card {
  margin: auto;
  background-color: $secondColor;
  color: $mainColor;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.own-assessment {
  background-color: rgba(128, 128, 128, 0.397);
}

.open-close-button {
  justify-content: center;
  align-items: center;
  border-top: solid 1px;

  ion-icon {
    font-size: 2rem;
  }
}

// OFFER CARDS

.offer-card {
  width: $greatWidth;
  margin: 0 auto;
  background-color: $secondColor;
  color: $mainColor;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// USE TERMS

.use-terms{
  width: $greatWidth;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.accept-terms {
  display: flex;
  align-items: center;
  color: $mainColor;

  ion-label {
    margin-left: 20px;
  }
}

// TUTORIAL

.tutorial-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slider {
  height: 100%;
}

.slide, .tutorial-slide {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tutorial-img {
  width: 75%;
}

.tutorial-slide {
  padding: 70px 20px
}

.tutorial-logo {
    width: 50%;
}