<ion-content>
  <app-page-layout>
    <div layout-position="main">
      <ion-button class="toggle-calendar-view-button" color="secondcolor" (click)="toggleCalendarView()">
        <ion-icon [name]="calendarView ? 'list-outline' : 'calendar-outline'"></ion-icon>
      </ion-button>
      <ion-row>
        <ion-col>
          <h2 class="subtitle margin-15 center" *ngIf="calendarView">{{ getMonthName() | translate }}</h2>
          <h2 class="subtitle margin-15 center" *ngIf="!calendarView">{{ 'COMPANIES.APPOINTMENTS' | translate }}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-company-selector *ngIf="manager()" (selectCompany)="filterCompanies($event)"></app-company-selector>
        </ion-col>
      </ion-row>
    </div>
    <div layout-position="content" *ngIf="calendarView && calendar" class="width-90 center margin-auto">
      <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [markDisabled]="markDisabled"
        [monthviewEventDetailTemplate]="monthviewEventDetailTemplate" [autoSelect]="false"
        (onCurrentDateChanged)="onCurrentDateChanged($event)" [currentDate]="calendar.today"
        (onTimeSelected)="onTimeSelected($event)" [startingDayMonth]="1">
      </calendar>
    </div>
    <ng-template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
      let-noEventsLabel="noEventsLabel">
      <h4 class="eventDate">{{selectedDate.date | date: 'dd/MM/yyyy'}}</h4>

      <h5 class="title center" *ngIf="selectedDate.events.length == 0 && selectedTime">{{'CALENDAR.NO_EVENTS' |
        translate}}</h5>

      <app-appointment-card class="width-100" *ngFor="let appointment of selectedDate.events"
        [appointment]="appointment" (navigateToCompany)="navigate($event)" [role]="userRole" [section]="'calendar'">
      </app-appointment-card>

    </ng-template>

    <div layout-position="content" *ngIf="!calendarView && eventSource" class="width-90 center margin-auto">
      <ion-row>
        <h2 class="subtitle margin-15 center" *ngIf="eventSource.length === 0">{{ 'CALENDAR.NO_APPOINTMENTS_REQUESTED' | translate }}</h2>
        <ion-col>
          <app-appointment-card class="width-100" *ngFor="let appointment of eventSource"
          [appointment]="appointment" (navigateToCompany)="navigate($event)" [role]="userRole" [section]="'calendarList'">
        </app-appointment-card>
        </ion-col>
      </ion-row>
    </div>
  </app-page-layout>
  <app-export-appointments-button [user]="user"></app-export-appointments-button>
</ion-content>