<ion-content>
  <app-page-layout>
    <div layout-position="main">
      <ion-row>
        <ion-col>
          <ion-fab-button class="back-btn" color="maincolor" routerLink="">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col style="flex:3;">
          <h2 class="title margin-15 center flex">{{ "COMPANIES.OFFERS.OFFERS" | translate }}</h2>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>

    <div layout-position="content" class="container">
    </div>
  </app-page-layout>
</ion-content>