<ion-card class="appointment-card">
  <ion-row>
    <ion-col size='10' (click)="toggleDetails()">

      <h5 class="margin-5" *ngIf="manager()">{{ appointment.userName }} | {{ appointment.startDate | date: 'HH:mm' }}</h5>
      
      <h5 class="margin-5" *ngIf="user() && calendar()">{{ appointment.companyName }} | {{ appointment.startDate | date: 'HH:mm' }}</h5>
      
      <h6 class="margin-5" *ngIf="user() && company()">{{ 'APPOINTMENTS.APPOINTMENT_DATE' | translate }}:</h6>
      <h6 class="margin-5" *ngIf="user() && company()">{{ appointment.startDate | date: 'dd/MM/yyyy HH:mm' }}</h6>
      
      <h6 class="margin-5" *ngIf="manager() && showDetails">{{ 'COMPANIES.PHONE' | translate }}: {{ appointment.userPhone }}</h6>
      
      <h6 class="margin-5" *ngIf="user() && calendar()">{{ appointment.companyType }}</h6>
      <h6 class="margin-5" *ngIf="user() || showDetails">{{ (appointment.createdByManager ? 'APPOINTMENTS.CREATED_BY_MANAGER' : 'APPOINTMENTS.REQUESTED_DATE') | translate }}:</h6>
      <h6 class="margin-5" *ngIf="user() || showDetails">{{ appointment.requestedAt | date: 'dd/MM/yyyy  HH:mm' }}</h6>
    </ion-col>
    <ion-col size='2' class="card-right-icon">
      <button (click)="cancel()" *ngIf="company()"><ion-icon name='trash'></ion-icon></button>
      <button (click)="navigate()" *ngIf="calendar()"><ion-icon name='eye'></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-card>