<ion-content>
  <app-page-layout *ngIf="loaded">
    <div layout-position="main">
      <ion-row>
        <ion-col>
          <h2 class="title margin-15 center flex">{{ "COMPANIES.SEARCH_TITLE" | translate }}</h2>
        </ion-col>
      </ion-row>
      <app-search-bar (searchCriteria)="searchCompany($event)" (openFilters)="showFilterModal = true"
        [placeholder]="'COMMON.SEARCH' | translate" *ngIf="companies.length > 0"></app-search-bar>
    </div>

    <div layout-position="content" *ngIf="!showFilterModal">
      <ion-row *ngIf="bussinessType || selectedLocation || startDate" class="width-great margin-0-auto">
        <ion-card class="filter-card" (click)="bussinessType = undefined; applyFilter()" *ngIf="bussinessType"><ion-icon name="close-circle-outline"></ion-icon> {{bussinessType}}</ion-card>
        <ion-card class="filter-card" (click)="selectedLocation = undefined; applyFilter()" *ngIf="selectedLocation"><ion-icon name="close-circle-outline"></ion-icon>{{selectedLocation}}</ion-card>
        <ion-card class="filter-card" (click)="startDate = undefined; endDate = undefined; applyFilter()" *ngIf="startDate && endDate">
          <ion-icon name="close-circle-outline"></ion-icon>
          {{startDate | date:'d/M/yy'}} - {{endDate | date:'d/M/yy'}}
        </ion-card>
      </ion-row>
      <ion-row *ngIf="filteredCompanies.length == 0">
        <h5 class="title margin-15 center flex"> {{ "COMPANIES.NO_SEARCH_MATCH" | translate }} </h5>
      </ion-row>
      <ion-row *ngFor="let company of filteredCompanies" (click)="goToCompany(company.id)">
        <ion-card class="company-card">
          <div *ngIf="company.logo">
            <img *ngIf="!company.validated" class="seal" src="../../../../assets/img/pendingVal.png" alt="">
            <img class="card-img" [src]="company.logo" alt="">
          </div>
          <h2 class="title center flex">{{company.name}}</h2>
          <h6 class="center flex margin-15" *ngIf="company.address">{{printDirection(company.address)}}</h6>
        </ion-card>
      </ion-row>
    </div>
  </app-page-layout>
</ion-content>

<div class="modal-wrapper" *ngIf="loaded && showFilterModal">
  <div class="modal-backdrop" (click)="showFilterModal= false"></div>
  <div>
    <ion-card class="modal-content">
      <label class="title">{{ "COMPANIES.FILTERS_MODAL.ORDER_BY" | translate }}:</label>
      <ion-row style="margin-top: 15px">
        <ion-col class="filter-radio-button">
          <input name="orderBy" type="radio" [(ngModel)]="orderBy" [value]="'default'" />
          <label class="minimum-text main-color-text">{{ "COMPANIES.FILTERS_MODAL.DEFAULT" | translate }}</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="filter-radio-button">
          <input name="orderBy" type="radio" [(ngModel)]="orderBy" [value]="'valoration'" />
          <label class="minimum-text main-color-text">{{ "COMPANIES.FILTERS_MODAL.PUNTUATION" | translate }}</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="filter-radio-button">
          <input name="orderBy" type="radio" [(ngModel)]="orderBy" [value]="'distance'" />
          <label class="minimum-text main-color-text">{{ "COMPANIES.FILTERS_MODAL.DISTANCE" | translate }}</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="filter-radio-button">
          <input name="orderBy" type="radio" [(ngModel)]="orderBy" [value]="'appointment'" />
          <label class="minimum-text main-color-text">{{ "COMPANIES.FILTERS_MODAL.FIRST_APPOINTMENT" | translate }}</label>
        </ion-col>
      </ion-row>
      <div style="margin-top: 20px;">
        <label class="title">{{ "COMPANIES.FILTERS_MODAL.FILTER" | translate }}:</label>
        <ion-select class="filter-select" [interfaceOptions]="{cssClass: 'filter-selector'}" [placeholder]="'COMPANIES.FILTERS_MODAL.BUSSINESS_TYPE' | translate" [(ngModel)]="bussinessType" cancelText="Cancelar">
          <ion-select-option *ngFor="let type of companyTypes" [value]="type.name">{{type.name}}</ion-select-option>
        </ion-select>
        <ion-select class="filter-select" [interfaceOptions]="{cssClass: 'filter-selector'}" [placeholder]="'COMPANIES.FILTERS_MODAL.LOCATION' | translate" [(ngModel)]="selectedLocation" cancelText="Cancelar">
          <ion-select-option *ngFor="let location of companyLocations" [value]="location">{{location}}</ion-select-option>
        </ion-select>
        <ion-row style="margin-top: 15px;">
          <label class="minimum-text main-color-text">{{ "COMPANIES.FILTERS_MODAL.APPOINTMENT_BEETWEEN" | translate }}</label>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col size=6>
            <ion-datetime class="date-selector" [placeholder]="'CALENDAR.FROM' | translate" [(ngModel)]="startDate" displayFormat="D MMM YYYY" [min]="today" (ionChange)="checkEndDate()" doneText="OK" cancelText="Cancelar"></ion-datetime>
          </ion-col>
          <ion-col size=6>
            <ion-datetime #endDateField class="date-selector" [placeholder]="'CALENDAR.TO' | translate" [(ngModel)]="endDate" displayFormat="D MMM YYYY" [disabled]="!startDate" [min]="startDate" doneText="OK" [max]="maxDate" cancelText="Cancelar"></ion-datetime>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col size=6>
          <ion-button class="btn width-100" color="maincolor" (click)="applyFilter()">
            {{ 'COMPANIES.FILTERS_MODAL.APPLY_FILTERS' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size=6>
          <ion-button class="btn width-100" color="secondcolor" (click)="resetFilters()">
            {{ 'COMPANIES.FILTERS_MODAL.RESET' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</div>